# ===================================================================
# tpRigToolkit-tools-rigbuilder requirements file
# ===================================================================

tpRigToolkit-core
tpRigToolkit-tools-controlrig