# ===================================================================
# tpRigToolkit-tools-rigbuilder requirements file
# ===================================================================

tpRigToolkit-core